{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/forms@0.5.7/src/index.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script>
    <title>Complaint</title>
  </head>
  <body class="bg-gray-200">
    <div class="messages">
      {% for message in messages %}
      <div
        class="{% if message.tags == 'success'%}bg-blue-500{% else%}bg-red-500{% endif %} text-white text-md p-4"
      >
        {{ message }}
      </div>
      {% endfor %}
    </div>
    <div class="form-container bg-white p-4 rounded-lg max-w-md mx-auto mt-10">
      <form
        class="mb-3"
        id="form"
        method="post"
        action="{% url 'create_complaint' %}"
      >
        {% csrf_token %}
        <h1 class="text-3xl font-bold mb-6 text-gray-600">Improper Attire</h1>
        <div class="buttonInside flex items-center mb-4">
          <input
            id="id_student_id"
            name="student_id"
            maxlength="16"
            class="form-control flex-1 mr-2 p-2 border border-gray-300 rounded"
            placeholder="Student ID"
            type="text"
            required
          />
          <button
            id="openScanner"
            type="button"
            onclick="openBarcodeScanner()"
            class="bg-blue-500 text-white p-2 rounded"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              class="w-6 h-6"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 0 1 3.75 9.375v-4.5zm0 9.75c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5a1.125 1.125 0 0 1-1.125-1.125v-4.5zm9.75-9.75c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 0 1 13.5 9.375v-4.5z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6.75 6.75h.75v.75h-.75v-.75zm0 9.75h.75v.75h-.75v-.75zm9.75-9.75h.75v.75h-.75v-.75zm-3 6.75h.75v.75h-.75v-.75zm0 6h.75v.75h-.75v-.75zm6-6h.75v.75h-.75v-.75zm0 6h.75v.75h-.75v-.75zm-3-3h.75v.75h-.75v-.75z"
              ></path>
            </svg>
          </button>
        </div>
        <div
          id="scanner-container"
          hidden
        ></div>
        {{ form.department|add_class:'mb-6 block w-full rounded-md border-0 p-3 pr-10 text-gray-700 ring-1 ring-inset ring-gray-300 sm:text-md sm:leading-6' }}
        {{ form.complaint_type|add_class:'mb-6 block w-full rounded-md border-0 p-3 pr-10 text-gray-700 ring-1 ring-inset ring-gray-300 sm:text-md sm:leading-6' }}
        <button class="w-full bg-blue-500 text-white p-2 rounded" type="submit">
          Submit
        </button>
      </form>
    </div>
    <script>
      const scannerContainer = document.getElementById("scanner-container");

      function openBarcodeScanner() {
        Quagga.init(
          {
            inputStream: {
              name: "Live",
              type: "LiveStream",
              target: document.querySelector("#scanner-container"),
            },
            decoder: {
              readers: ["code_128_reader"],
            },
          },
          function (err) {
            if (err) {
              console.error(err);
              return;
            }
            Quagga.start();
            scannerContainer.hidden = false;
          }
        );

        Quagga.onDetected(function (result) {
          Quagga.stop();
          document.getElementById("id_student_id").value =
            result.codeResult.code;
          scannerContainer.hidden = true;
        });
      }
    </script>
  </body>
</html>
